<br>
<br>

<h1>Editing Event Task</h1>

<%= render partial:'form', locals: {event_task: @event_task} %>

<%= link_to 'Show', @event_task, class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'All Event Tasks', event_tasks_path, class: "btn btn-outline-secondary btn-sm" %>
