<br>
<br>

<h1>Editing Child</h1>

<%= render 'form', child: @child %>

<%= link_to 'Show', @child, class: "btn btn-outline-primary btn-sm" %>
<%= link_to 'All Children', children_path, class: "btn btn-outline-secondary btn-sm" %>
