/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */


 .my-own-style {
  margin-top: 250px;
}


body { padding-top: 100px; }

 @font-face {
    font-family: 'FONT 1';
    src: url('LibreBaskerville-Bold.ttf');
 }

 @font-face {
  font-family: 'FONT 2';
  src: url('MPLUS1p-Regular.ttf');
}

* {
  font-family: 'FONT 2';
}


 h1 {
   font-family: 'FONT 1';
 }

 h2 {
  font-family: 'FONT 1';
}

 h3 {
  font-family: 'FONT 1';
}

 h4 {
  font-family: 'FONT 1';
}

 h5 {
  font-family: 'FONT 1';
}


  .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

<li class="nav-item">
  <a class="nav-link" href="#">
  <%= link_to 'KINDALIFT', events_path %>
  </a>
</li>